.PostUserMetadataAuthor {
  display: flex;
  gap: 8px;

  align-items: center;

  font-size: 16px;
}

.PostUserInfo:before {
  content: "•";
}

.PostUserInfo {
  display: flex;
  gap: 8px;

  align-items: center;

  a {
    font-size: 13px;
  }

  span {
    font-size: 11px;
    color: var(--primary_color);
  }
}