.Input {
  display: flex;

  padding: 16px 24px;

  width: 100%;

  justify-content: space-between;
  align-items: flex-start;

  border: 1px solid #404040;

  border-radius: var(--border);

  background: rgba(255, 255, 255, 0.10);
  color: var(--primary_color);

  outline: 0;

  transition: all linear .1s;
}

.Input:focus {
  border-color: #418AF4 !important;
}

.lg {
  padding: 16px 24px;
}

.sm {
  padding: 10px 20px;
}