.PopoverItem {
  padding: 6px 10px;
  background: 0;
  border: 0;

  cursor: pointer;

  display: flex;
  align-items: center;

  font-size: 16px;

  border-radius: 6px;

  background: var(--picker-base);
  color: var(--primary_color);
}

.PopoverItem:hover {
  background: var(--picker-hover);
}

.PopoverItemActive {
  background: var(--picker-bg);
}