.LoginForm {
  display: flex;
  flex-direction: column;

  gap: 16px;

  a {
    color: #ff3e3e;

    font-size: 16px;
  }
}

.FormSwitchText {
  display: flex;
  justify-content: center;

  gap: 8px;

  color: var(--primary_color);
  font-size: 17px;

  button {
    background: none;
    border: none;

    color: #598FDE;
    cursor: pointer;
  }
}