.UserCard {
  display: flex;
  gap: 8px;

  align-items: center;

  span {
    font-weight: 600;
    font-size: 18px;
  }
}

.UserCardDropZone {
  cursor: pointer;
}

.sm {
  span {
    font-weight: normal;
    font-size: 18px;
  }
}

.UserCardData{
  display: flex;
  flex-direction: column;

  time {
    font-size: 12px;
    color: #616161;
  }
}

.UserCardChild {
  padding-top: 4px;

  font-size: 12px;
  font-weight: normal;

  color: var(--items_color);
}

