.dark {
  --primary_color: #FFFFFF !important;
  --light: #FFFFFF !important;
  --secondary_color: #000000 !important;

  --text-secondary: #969c9d;

  --picker-base: #595959;
  --picker-hover: #313131;
  --picker-selected: #464646;
  --picker-selector: #4f4f4f;
  --picker-bg: #1F1F1F;
  --picker-shadow: 0 4px 20px rgba(0, 0, 0, .32), 0 0 0 1px #1F1F1F;

  --content: #232324;

  --logo: #FFFFFF;
  --header: #2d2d2da6;

  --modal-bg: #191919;

  --btn-disabled-bg: rgba(255, 255, 255, 0.05);
  --btn-disabled-fg: rgba(255, 255, 255, 0.3);

  --background-content: #232324;

  --spinner-circle: #313136;
  --spinner: #616161;
}