.light {
  --primary_color: #000000 !important;
  --light: #FFFFFF !important;
  --secondary_color: #FFFFFF !important;

  --text-secondary: #595959;

  --content: #e1e1e1;

  --logo: #FFFFFF;
  --header: #000000a6;

  --picker-base: #eae9e9;
  --picker-hover: #e3e3e3;
  --picker-selected: #d7d6d6;
  --picker-selector: #e1e1e1;
  --picker-bg: #f6f6f6;
  --picker-shadow: 0 4px 20px rgba(59, 59, 59, 0.32), 0 0 0 1px #b4b4b4;

  --modal-bg: #FFFFFF;

  --btn-disabled-bg: rgb(75, 74, 74);
  --btn-disabled-fg: rgba(255, 255, 255, 0.7);

  --background-content: #FFFFFF;

  --spinner-circle: #c9c9c9;
  --spinner: #878787;
}